DB_NAME=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=
MAGIC_LINK_BASE_URL=
GOOGLE_CLIENT_ID=